body
{
    background-color: #F3F4EC !important;
}

#form-orders
{
    width: 83%;
    float: left;
}

#form-client
{
    width: 60%;
    float: left;
}



#form-orders input
{
    height: 60%;
}

#form-emp
{
    width: 70%;
    float: left;
}


#form-orders button, #form-client button, #form-emp button
{
    height: 40%;
    margin-top: 23px;
    margin-left: 10px;
}

.buttons-panel #add-order,#add-client,#add-employee
{
    margin-right: 0;
    float: right;
    margin-top: 24px;
}

.ui.menu:first-child
{
    margin-top: 20px !important;
}

#client-table .delete-edit, #emp-table .delete-edit, #order-table .delete-edit
{
    text-align: center;
    width: 7%;
}

#client-table a, #emp-table a, #order-table a
{
    display: inline-block;
    color: #343232;
    margin-top: 5px;
}

#client-table a:hover, #emp-table a:hover, #order-table a:hover
{
    color: #a42020;
}

table td, table th
{
    text-align: left !important;
    vertical-align: middle;
}

table .delete-edit button
{
    display: inline-block;
    margin-left: 15%;
    margin-top: 10%;
    border: none;
    background-color: white;
    cursor: pointer;
    color: #343232;
    align-items:center;
    justify-content:center;
}

table button:hover
{
    color: #a42020;
}





