<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Food Delivery API</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/main.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="{{ url_for('static', path='/home.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div class="ui container">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>