{% extends "base.html" %}

{% block content %}

        <main>
            <div class="buttons-panel">
                <div id="date-form" class="ui small form">
                    <form action="" method="get">
                        <div class="two fields">
                            <div class="field">
                                <label for="start-date">Start Date</label>
                                <input id="start-date" name="start_date" placeholder="" type="text">
                            </div>
                            <div class="field">
                                <label for="end-date">End Date</label>
                                <input id="end-date" name="start_date" placeholder="" type="text">
                            </div>
                            <button type="submit" class="ui submit button">Filter</button>
                        </div>
                    </form>
                </div>

                <div onclick="addClient();" id="add-client" class="ui vertical animated button" tabindex="0">
                  <div class="hidden content">
                      <i class="plus icon"></i>
                  </div>
                  <div class="visible content">New Client</div>
                </div>
            </div>
            
            <table id="client-table" class="ui celled table">
                  <thead>
                    <tr>
                        <th>Id</th>
                        <th>Company Name</th>
                        <th>Address</th>
                        <th>Contact Person</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Tax Identification Number</th>
                        <th>Company ID (Regon)</th>
                        <th>Edit / Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>{{ client.id }}</td>
                        <td>{{ client.company_name }}</td>
                        <td>{{ client.address }}</td>
                        <td>{{ client.contact_person }}</td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.tax_identification_number }}</td>
                        <td>{{ client.company_id }}</td>
                        <td class="delete-edit">
                            <button class="edit-item" onclick="updateClient(this);">
                                <i class="edit icon"></i>
                            </button>
                            <button onclick="deleteClient(this);" class="delete-item">
                                <i class="trash alternate icon"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>

             <div id="new-client" class="ui modal">
                  <i class="close icon"></i>
                  <div class="header">
                    Add Client
                  </div>
                  <div class="content">
                        <div class="ui form">
                            <div class="field">
                                <label>Company Name</label>
                                <input type="text" class="company_name">
                            </div>
                             <div class="field">
                                <label>Address</label>
                                <input type="text" class="address">
                            </div>
                            <div class="field">
                                <label>Contact Person</label>
                                <input type="text" class="contact_person">
                            </div>
                            <div class="field">
                                <label>Contact Phone</label>
                                <input class="phone">
                            </div>
                            <div class="field">
                                <label>Email</label>
                                <input class="email" placeholder="name@address.com">
                            </div>
                            <div class="field">
                                <label>Tax Identification Number</label>
                                <input class="tax_identification_number">
                            </div>
                            <div class="field">
                                <label>Regon</label>
                                <input class="company_id">
                            </div>
                        </div>
                  </div>
                  <div class="actions">
                    <div onclick="saveClient();" id="save_client" class="ui positive right labeled icon button">
                      Add Client
                      <i class="plus icon"></i>
                    </div>
                  </div>
             </div>

            <div id="edit-client" class="ui modal">
                  <i class="close icon"></i>
                  <div class="header">
                    Update Client <span></span>
                  </div>
                  <div class="content">
                        <div class="ui form">
                            <div class="field">
                                <label>Company Name</label>
                                <input type="text" class="company_name">
                            </div>
                             <div class="field">
                                <label>Address</label>
                                <input type="text" class="address">
                            </div>
                            <div class="field">
                                <label>Contact Person</label>
                                <input type="text" class="contact_person">
                            </div>
                            <div class="field">
                                <label>Contact Phone</label>
                                <input class="phone">
                            </div>
                            <div class="field">
                                <label>Email</label>
                                <input class="email" placeholder="name@address.com">
                            </div>
                            <div class="field">
                                <label>Tax Identification Number</label>
                                <input class="tax_identification_number">
                            </div>
                            <div class="field">
                                <label>Regon</label>
                                <input class="company_id">
                            </div>
                        </div>
                  </div>
                  <div class="actions">
                    <div onclick="saveUpdatedClient();" id="update-client" class="ui positive right labeled icon button">
                      Update
                      <i class="plus icon"></i>
                    </div>
                  </div>
             </div>

            <div id="delete-client" class="ui basic modal">
                  <div class="ui icon header">
                    <i class="archive icon"></i>
                    Delete Client
                  </div>
                  <div class="content">
                    <p>Are you sure you want to remove the client <span></span> ?</p>
                  </div>
                  <div class="actions">
                    <div class="ui red basic cancel inverted button">
                      <i class="remove icon"></i>
                      No
                    </div>
                    <div onclick="deleteClientConfirm();" class="ui green ok inverted button">
                      <i class="checkmark icon"></i>
                      Yes
                    </div>
                  </div>
            </div>

        </main>

{% endblock %}