{% extends "base.html" %}

{% block content %}
        <header>
            <div class="navbar">
                <div id="add-order" class="ui vertical animated button" tabindex="0">
                  <div class="hidden content">
                      <i class="plus icon"></i>
                  </div>
                  <div class="visible content">New Order</div>
                </div>
            </div>
        </header>

        <main>
            <table id="order-table" class="ui celled table">
                  <thead>
                    <tr>
                        <th>Id</th>
                        <th>Employee</th>
                        <th>Company Adress</th>
                        <th>Destination Address</th>
                        <th>Contact Phone</th>
                        <th>Date</th>
                        <th>Distance</th>
                        <th>Additional Info</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.employee.full_name }}</td>
                        <td>{{ order.client.address }}</td>
                        <td>{{ order.destination_address }}</td>
                        <td>{{ order.contact_phone }}</td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.distance }}</td>
                        <td>{{ order.other_info }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>

             <div class="ui modal">
                  <i class="close icon"></i>
                  <div class="header">
                    Add Order
                  </div>
                  <div class="content">
                        <div class="ui form">
                            <div class="field">
                                <label>Employee</label>
                                <select class="ui dropdown" id="employee_id" >
                                    {% for employee in employees %}
                                        <option value="{{ employee.id }}">{{ employee.full_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="field">
                                <label>Client</label>
                                <select class="ui dropdown" id="client">
                                    {% for client in clients %}
                                        <option value="{{ client.id }}">{{ client }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="field">
                                <label>Destination Address</label>
                                <input type="text" id="dest_address" name="destination_address" placeholder="City, Street Num">
                            </div>
                            <div class="field">
                                <label>Full order price</label>
                                <input type="text" id="price" name="destination_address" placeholder="Price in PLN e.g. 150.00">
                            </div>
                            <div class="field">
                                <label>Other information</label>
                                <textarea id="other-information"></textarea>
                            </div>
                        </div>
                  </div>
                  <div class="actions">
                    <div id="save" class="ui positive right labeled icon button">
                      Add order
                      <i class="plus icon"></i>
                    </div>
                  </div>
             </div>

        </main>

        <footer></footer>
{% endblock %}